footer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  padding: 12px;
  border-radius: 20px 20px 0 0;
  box-shadow: 1px 0px 0px 2px #ebf0f3;
  margin-top: -10px;

  .footer-container {
    &__icon {
      text-align: center;
    }

    &__txt {
      font-size: 15px;
      text-transform: uppercase;
      line-height: 24px;
      color: #6a7d81;
      margin-top: 8px;
    }
  }
}
