<footer>
  <div class="footer-container">
    <p class="footer-container__icon">
      <img src="../../assets/images/icons/jobs.svg" alt=""  width="30">
    </p>
    <p class="footer-container__txt">
      Jobs
    </p>
  </div>
  <div class="footer-container">
    <p class="footer-container__icon">
      <img src="../../assets/images/icons/contract.svg" alt=""  width="30">
    </p>
    <p class="footer-container__txt">
      Applies
    </p>
  </div>
  <div class="footer-container">
    <p class="footer-container__icon">
      <img src="../../assets/images/icons/user.svg" alt="" width="30">
    </p>
    <p class="footer-container__txt">
      Profile
    </p>
  </div>
</footer>