// button css
.btn {
  display: inline-block;
  padding: 4px 10px 4px;
  margin-bottom: 0;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  background-color: #0073aa;
  border: 1px solid #e6e6e6;
  border-radius: 4px;
  cursor: pointer;

  &--large {
    padding: 9px 14px;
    font-size: 15px;
    line-height: normal;
    border-radius: 5px;
  }

  &--txt {
    background-color: #0000;
    border-color: #0000;
    color: #009788;
    text-transform: uppercase;
    font-size: 18px;
    padding: 0;
    line-height: 1;
    height: auto !important;
  }
}
