/* You can add global styles to this file, and also import other style files */
// @import url(https://fonts.googleapis.com/css?family=Open+Sans);

@font-face {
  font-family: myFont;
  src: url("./assets/fonts/arabic-font.ttf");
}

* {
  font-family: myFont;
  letter-spacing: 0.6px;
}

@import "./src/assets/scss/reset";
@import "./src/assets/scss/utility";
@import "./src/assets/scss/components";
